@font-face
    font-family 'hackfont'
    font-style normal
    font-weight normal
    src url(https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.003/web/fonts/hack-regular-subset.woff) format('woff')
    src url(https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.003/web/fonts/hack-regular-subset.woff2) format('woff2')