// customizing colors
$accentColor = #11cdef
$textColor = hsl(0, 0%, 90%)
$borderColor = hsl(0, 0%, 90%) // same as $navbarBgColor
// $codeBgColor = #282c34
$codeBgColor = hsl(0, 0%, 17%)
$badgeTipColor = #19f9d8
$badgeWarningColor = #fb6340
$badgeErrorColor = #f5365c

// self defined
$bgColor = hsl(0, 0%, 20%) // 整個網頁的背景
$navbarBgColor = hsl(0, 0%, 26%)
$navbarDropdownColor = hsl(0, 0%, 27%)
$sideBarBgColor = $bgColor
